<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/index.css">
	<title>Document</title>
</head>
<body>

	<div>
		<form id="form">
			<input id="fileInput" type="file" required>
			<input id="textInput" type="text" required>
			<button>send</button>
		</form>
		<ul id="imagesWrapper"></ul>
	</div>

	<div id="usersList"></div>

<script src="./js/util.js"></script>
<script src="./js/auth.js"></script>
<script src="./js/index.js"></script>
</body>
</html>